alias logout='gnome-session-quit --logout --no-prompt'
alias upd='sudo apt update && sudo apt upgrade'
alias mpsyt='rm -f ~/.config/mps-youtube/cache_py_* 2> /dev/null; mpsyt'
alias fd=fdfind
alias cls=clear
alias ytdl=youtube-dl
alias refresh='sudo ~/local/share/gnome-shell/theme/Pop-modified/utils/copy.sh'
alias connect='mullvad connect -w'
alias disconnect='mullvad disconnect -w'
alias qmk-clean='~/Documents/scripts/qmk-clean'
alias ssh='kitty +kitten ssh'
