alias logout='gnome-session-quit --logout --no-prompt'
alias upd='sudo apt update && sudo apt upgrade'
alias mpsyt='rm -f ~/.config/mps-youtube/cache_py_* 2> /dev/null; mpsyt'
alias fd=fdfind
alias cls=clear
alias ytdl=youtube-dl
alias qmk-clean='~/Documents/scripts/qmk-clean'
alias ssh='kitty +kitten ssh'
