/* https://gist.github.com/theprojectsomething/6813b2c27611be03e67c78d936b0f760 */

/* push tab labels slightly to the right */
.tab .label {
    margin-left: 1em;
}

#tabbar.tab .twisty {
    visibility: hidden;
    margin-left: -0.5em;
    transition-delay: 0s;
}

/* hide closebox unless needed */
.tab:not(:hover) .closebox {
    visibility: hidden;
}

/* hide sound playing/muted button. */
.sound-button {
    display: none !important; 
}

/* adjust style for tab that has sound playing. */
.tab.sound-playing .favicon::after,
.tab.muted .favicon::after {
    content: '🔊';
    z-index: var(--favicon-base-z-index);
    position: absolute;
    font-size: 0.5em;
    bottom: -0.35em;
    right: -0.7em;
}

/* adjust style for tab that is muted. */
.tab.muted .favicon::after {
    content: '🔇';
}

/* fix closebox */
.tab .closebox {
    margin-left:  0;
}

/* Hide 'new tab' button. */
.newtab-button {
    display: none;
}

/* active tab */
.tab.active .label {
    font-weight: bold;
}