/* disable horizontal tabs */
#tabbrowser-tabs {
    display: none !important;
}

/* remove close button */
toolbarbutton.titlebar-button.titlebar-close {
    display: none !important;
}

/* remove weird toolbar button that appears when customizing toolbar */
#TabsToolbar {
    display: none !important;
}

/* remove microphone / video indicator */
#webrtcIndicator {
    display: none !important;
}

/* adjust sidebar min and max width */
#sidebar {
    max-width: none !important;
    min-width: 30px !important;
}

/* remove sidebar header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
}

/* hide "Firefox Suggest", "Google Suggestions" and other labels */
/* see https://www.userchrome.org/megabar-styling-firefox-address-bar.html */
.urlbarView-row[label]::before {
    /* suppress the text */
    display: none !important;
}
.urlbarView-row[label] {
    /* remove the empty space */
    margin-block-start: 0 !important;
}

